*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:white;
    margin:0;
}
header{
    background:black;
    color:white;
    padding:15px 30px;
    font-size:20px;
}
main{
    max-width: 700px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
h1{
    text-align:center;
    margin-bottom:20px;
    font-size:36px;
}
form{
    display:flex;
    gap:12px;
    margin-bottom:30px;
}
input[type="text"]{
    flex:1;
    padding:14px;
    font-size:18px;
    border-radius:6px;
    border:2px solid gray;
    outline:none;
}
.add-button{
    background: #1f6feb;
    color:white;
    padding:14px 20px;
    border-radius:6px;
    border:none;
    cursor:pointer;
    font-size:16px;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
}
li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:14px 10px;
    border-bottom:1px solid white;
}
.task-left{
    display:flex;
    align-items: center;
}
.task-left input[type="checkbox"]{
    margin-right:20px;
}
.task-left span{
    font-size:18px;
}
.done{
    text-decoration: line-through;
    color:gray;
}
.delete{
    background: #e94560;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    border:none;
    cursor:pointer;
}