*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
}
.wrapper{
    width:100%;
    max-width:1200px;
    height:100%;
    display:flex;
}
.left{
    width:50%;
    padding:40px 60px;
    position:relative;
}
.logo{
    position:absolute;
    top:12px;
    left:20px;
}
.text{
    margin-top:80px;
    font-size:50px;
    line-height:1;
    font-weight:300;
}
.text .pink{color:#ff2b6c;}
.cards{
    margin-top:40px;
    width:420px;
}
.divider{
    width:1px;
    background:#e5e5e5;
}
.right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-box{
    width:360px;
    padding:30px;
    text-align:center;
}
.form-box h3{
    margin-bottom:20px;
}
input{
    width:100%;
    padding:10px;
    margin:6px 0;
    border:1px solid #ddd;
    border-radius:6px;
}
.btn{
    width:100%;
    background:#2a8cff;
    color:#fff;
    border:none;
    padding:10px;
    border-radius:8px;
    margin-top:10px;
    font-weight:bold;
    cursor:pointer;
}
.link{
    display:block;
    margin:15px 0;
    font-size:13px;
    text-decoration:none;
    color:#000;
}
.fb{
    background:none;
    border:none;
    color:#385185;
    font-weight:bold;
    cursor:pointer;
}
.new{
    border:1px solid #2a8cff;
    background:none;
    color:#2a8cff;
    padding:8px;
    border-radius:8px;
    width:100%;
    cursor:pointer;
}
.footer{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    font-size:12px;
    color:#737373;
}
.links{
    margin:10px;
}