body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:100px;
}
#counter{
    font-size:50px;
    margin:20px 0;
    color:black;
}
.cont{
    padding:10px 20px;
    margin:5px;
    font-size:18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.cont button{
    padding:10px;
    margin:5px;
}
#decr{
    background-color: red;
    color:white;
}
#res{
    background-color: gray;
    color:white;
}
#inc{
    background-color: green;
    color:white;
}
.cont:hover{
    opacity:0.8;
}
