*{
    box-sizing: border-box;
    font-family:Arial,Helvetica,sans-serif;
}
body{
    background-color: #f0f2f5;
    margin:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.full{
    display:flex;
    gap:60px;
    align-items:center;
}
.left{
    max-width:400px;
}
.facebook{
    color:blue;
    font-size:60px;
    margin-bottom:10px;

}
.left p{
    font-size:24px;
    line-height: 28px;
}
.info{
    background-color:rgb(255,255,255);
    text-align:center;
    padding:20px;
    width:350px;
    font-size: 10px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.info input{
    padding:14px;
    width:100%;
    margin-bottom:10px;
    border:1px solid rgb(255,255,255);
    border-radius:6px;
    font-size:16px;
}
.login{
    width:100%;
    padding:14px;
    background:blue;
    color:white;
    border:none;
    border-radius:6px;
    font-size:18px;
    cursor:pointer;
    margin-bottom:10px;
}
.login:hover{
    background-color:blue;
}
.ps{
    display:block;
    margin-bottom:15px;
    color:blue;
    font-size:14px;
    text-decoration:none;
}
.ps:hover{
    text-decoration:underline;
}
.divid{
    height:1px;
    background-color: rgb(255,255,255);
    margin:20px 0;

}
.np{
    background-color: forestgreen;
    color:rgb(255,255,255);
    padding:12px 16px;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}
.np:hover{
    background-color:forestgreen;
}
.right{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.form{
    margin-top:16px;
    font-size:14px;
    color:rgb(0,0,0);
    text-align:center;
    width:350px;
    margin-left:auto;
    margin-right:auto;
}
.footer{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    font-size:12px;
    color:#737373;
}
.fot.links{
    margin-bottom:8px;
}
@media(max-width: 800px){
    .full{
        flex-direction: column;
        text-align: center;
    }
}
