.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: #2c3e50;
}

.rating {
  color: orange;
}

button {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
}
